.hlc-event-first-day,
.hlc-event-week-first-day {
  background-color: var(--purple-2);
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  color: #333;
  z-index: 99;
  border-width: 1px;
  border-style: solid;
  .hlc-event-start-line {
    border-radius: 1px;
    height: 12px;
    width: 2px;
    margin: 0 4px;
    background-color: var(--main-color);
  }
  &.hlc-event-last-day {
    width: 100%;
  }
  &.hlc-event-need-break {
    border-bottom-right-radius: 0;
  }
  &.hlc-event-need-prev {
    border-top-left-radius: 0;
  }
  .hlc-event-need-prev-block {
    position: absolute;
    left: -1px;
    top: -5px;
  }
  .hlc-event-need-break-block {
    position: absolute;
    right: -1px;
    bottom: -5px;
  }
}
.hlc-event-active {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.pointer-events-none {
  pointer-events: none;
}

.hlc-event {
  text-align: left;
  height: 24px;
  line-height: 20px;
  margin-top: 5px;
  display: flex;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}
.hlc-event-text {
  flex: 1;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
