.hlc-datepicker-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.hlc-calendar-datepicker-btn {
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}
